@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

:root {
	--primary-voilet: hsl(263, 55%, 52%);
	--primary-gray-blue: hsl(217, 19%, 35%);
	--primary-blackish-blue: hsl(219, 29%, 14%);
	--primary-white: hsl(0, 0%, 100%);
	--neutral-gray: hsl(0, 0%, 81%);
	--neutral-blue: hsl(210, 46%, 95%);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Barlow Semi Condensed', sans-serif;
	background-color: var(--neutral-blue);
}
h3 {
	opacity: 50%;
}
h1 {
	line-height: 1.3;
	padding-top: 20px;
}
p {
	opacity: 70%;
	line-height: 1.5;
	font-size: 20px;
	padding-top: 20px;
}
.container {
	width: 80vw;
	margin: 80px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
		'col1 col1 col2 col3'
		'col4 col5 col5 col3';
}
.container .daniel {
	grid-area: col1;
	background-color: var(--primary-voilet);
	background-image: url('./images/bg-pattern-quotation.svg');
	background-repeat: no-repeat;
	background-size: 150px;
	background-position-x: 80%;
	color: var(--primary-white);
}

.container .jonathan {
	grid-area: col2;
	background-color: var(--primary-gray-blue);
	color: var(--primary-white);
}

.container .jeanette {
	grid-area: col4;
	background-color: var(--primary-white);
}

.container .patrick {
	grid-area: col5;
	background-color: var(--primary-blackish-blue);
	color: var(--primary-white);
}

.container .kira {
	grid-area: col3;
	background-color: var(--primary-white);
}
.profile {
	display: flex;
}
.intro {
	padding-left: 30px;
}

.grid {
	border-radius: 10px;
	margin: 20px;
	padding: 20px 30px;
}
.grid img {
	border-radius: 50%;
}

@media (max-width: 500px) {
	.container {
		display: block;
	}
	.grid {
		margin: 30px;
	}
} ;
